name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-docker:
    runs-on: self-hosted
    strategy:
      matrix:
        service:
          - name: Admin
            docker: admin



    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build service and Docker image
        run: |
          mvn -B clean package -DskipTests -f MaslyakBank_${{ matrix.service.name }}/pom.xml
          docker build -t maslyakbank-${{ matrix.service.docker }} \
            -f MaslyakBank_${{ matrix.service.name }}/Dockerfile \
            MaslyakBank_${{ matrix.service.name }}

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.service.docker }}-jar
          path: MaslyakBank_${{ matrix.service.name }}/target/*.jar

  test:
    runs-on: self-hosted
    needs: build-and-docker

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run tests
        run: mvn -B test

  deploy:
    runs-on: self-hosted
    needs: test
    strategy:
      matrix:
        service:
          - name: Admin
            docker: admin

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.service.docker }}-jar
          path: MaslyakBank_${{ matrix.service.name }}/target/

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Start service
        run: docker compose -f MaslyakBank_${{matrix.service.name}}/compose-${{matrix.service.docker}}.yaml up -d
        env:
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}
